#map{
display: grid;
grid-template-columns: 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6%;


}
span{
    display: inline-block;
    border: 2px solid;
    background-color: blue;
    width: 100px;
    height: 100px;
}
